<div class="d-flex flex-row-reverse product-view-toggle" data-list-option-field="{{ view.listOptionField }}">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <a href="#" class="btn btn-outline-info toggle-list-option {{ view.listOption != "list" ? "active" : ""}}" data-list-option="card">
            <i class='fa fa-th'></i>
        </a>
        <a href="#" class="btn btn-outline-info toggle-list-option {{ view.listOption == "list" ? "active" : ""}}" data-list-option="list">
            <i class='fa fa-th-list'></i>
        </a>
    </div>
</div>