#input_delivery_date + .bootstrap-datetimepicker-widget{
    td, th{
        color: black;
    }
    .day.disabled{
        opacity: 0.5;
        color: red;
    }
    .day:not(.disabled,.active){
        background-color: darkgray;
    }
    .day.active{
        background-color: mediumseagreen;
    }
}